<div class="container">
 <div class="row">
   <div class="col-md-6 offset-3">
    <h1 class="mt-4">welcom to <i class="fas fa-book"></i>Bookers!!</h1>
    <p>in <i class="fas fa-book"></i>Bookers,</p>
    <p>you can share and exchange your opinions, inpressions, and emotions</p>
    <p>about various books!</p>
   </div>
   <div class="col-md-5 mx-auto">
     <%= link_to "Log in",  new_user_session_path, class: "btn btn-info btn-sm btn-block sign_in" %><br>
     <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success btn-sm btn-block sign_up" %>
   </div>
 </div>
</div>

